/* body{
    background-image: url(../background_video/back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
} */
body{
    background-color: rgb(0, 0, 0);
}
.header{
    font-style: oblique;
    color: aliceblue;
    font-style: oblique;
    display: flex;
    justify-content: center;
}
.customer {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
  }
  
  .customer li a {
    border: 1px solid rgb(0, 0, 0);
    margin-top: 12px;
    background-color: #f59696;
    padding: 30px; 
    text-decoration: none;
    font-size: 20px; 
    font-weight: bolder;
    color: rgb(255, 254, 254); 
    display: block; 
   
  }
  
  .customer li a:hover:not(.header) {
    background-color: rgb(0, 0, 0);
  }